<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />  
        <!-- Core theme CSS (includes Bootstrap)-->        
        <link rel="stylesheet" href="static/css/style.css">
        <title>Gethsemane-DeMolay Commandery Knights Templar #7</title> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <img src="static/img/kt-seal.png"  class="img-responsive"/>
                <div class="container-fluid">
                    <div class=row>
                        <div><h3 class="text-light mb-5">Gethsemane DeMolay Commandery #7</h3></div></br>
                        <div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 center">
                                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link active" href="/about.html">About</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/calendar.html">Calendar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/officers.html">Officers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="static/img/kt-sword.png" class="img-responsive"/>
        </nav>
        <div class="container-fluid bg-light">
            <div id="main-content" style="align: center">			
				<article id="post-3840" class="post-3840 page type-page status-publish hentry">				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters3"><div class="et_pb_section et_pb_section_0 et_section_regular" >				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				<div class="et_pb_text_inner"><p>&nbsp;</p>
<p><strong><img decoding="async" class="wp-image-3155  aligncenter" src="https://knightstemplar.org/wp/wp-content/uploads/2021/11/00kktt-360x356.png" alt="" width="133" height="132" /></strong></p>
<p><strong>The Order of Knights Templar Today</strong></p>
<p>The Order of Knights Templar today exists as the top ranking Masonic organization in the York Rite of Freemasonry. The Order today requires membership in a Chapter of Royal Arch Masons and in some jurisdictions, membership in a Council of Royal and Select Masters.<br />The Knights Templar is a Christian-oriented fraternal organization based on the ancient organization that was founded in the 11th century. Today, the Knights Templar display their courage and goodwill in different ways than the ancient Templars. Members of the Order today organize fund-raising activities such as breakfasts, dinners, dances and flea markets for the support of Masonic-related youth groups, in addition to raising millions of dollars for charitable purposes.</p>
<p>The Templar Membership Today<br />Currently, Templar membership consists of people from all walks of life, including doctors, lawyers, clergy, businessmen and entertainment personalities, all of whom profess a belief in the Christian Religion.</p>
<p>The Masonic Connection<br />All Knights Templar are members of the world&#8217;s oldest fraternal organization known as &#8220;The Ancient Free and Accepted Masons&#8221; or more commonly known as &#8220;Masons&#8221;. However, not all masons are Templars. Templary is a part of the Masonic structure known as the &#8220;York Rite of Freemasonry&#8221;.</p>
<p>Three Levels of the Knights Templar<br />The Knights Templar operate on a local, state and national level. But their religious activities extend across international borders as well. In additions to the United States there are Commanderies in many countries such as Germany, Italy, Mexico, Japan and South American countries.<br />Nationally, there is Grand Encampment of Knights Templar. This unit defines the rituals and laws governing state and local level organizations.<br />The State level is call A Grand Commandery of Knights Templar. This organization represents members of a state or area.<br />The Local level organization is called a Commandery of Knights Templar. Some communities depending on population have more than one Commandery while there are many populated areas that do not have a commandery.</p>
<p>How to Become a Knight Templar<br />To petition a Commandery of Knights Templar or membership, you must first be a member of a Masonic Lodge and other pre-requisite bodies such as the Royal Arch Chapter and possibly a Council of Royal and Select Masters. (This depends on the state where you reside) To petition a Commandery one must profess a belief in the Christian Religion.</p>
<p>One who does not know a Knight Templar or a Master Mason should contact the local Masonic Temple for information or:<br />The Grand Encampment of Knights Templar of the United States of America,<br />5909 West Loop South, Suite 495, Bellaire, TX 77401-2402,<br />Phone (713) 349-8700/Fax: (713) 349-8710, Email: <a href="javascript:DeCryptX('0g0r2B3n3q2k2i2j2v3v2v1f3p0p3o2c1s1/3r1s2i')">&#103;&#114;&#64;&#107;n&#105;&#103;&#104;&#116;&#115;te&#109;plar.o&#114;g</a></p>
<p>Knights Templar Serve Mankind<br />As a Knight Templar, one has many opportunities to help others that are less fortunate.</p>
<p><img decoding="async" loading="lazy" class="wp-image-3670  aligncenter" src="https://knightstemplar.org/wp/wp-content/uploads/2021/11/ktefseal300-360x353.png" alt="" width="121" height="119" /></p>
<p>One way is through The Knights Templar Eye Foundation, Inc. which is our major charity. The foundation is often the last hope for individuals who may lose their sight and has often been called a &#8220;Great Humanitarian Charity&#8221;.</p>
<p><img decoding="async" loading="lazy" class="wp-image-3669  aligncenter" src="https://knightstemplar.org/wp/wp-content/uploads/2021/11/edf300.png" alt="" width="112" height="110" /></p>
<p>The Knights Templar Educational Foundation, established in 1922 to help provide educational advantages to the youth of this country has been the source of low cost loans for students to complete their college education. Those individuals seeking information should contact the Recorder of the state where they live for application forms and information.</p>
<p><img decoding="async" loading="lazy" class="wp-image-3668  aligncenter" src="https://knightstemplar.org/wp/wp-content/uploads/2021/11/hlp300T-1-1.gif" alt="" width="109" height="107" /></p>
<p>Holy Land Pilgrimages provided by the respective Grand Commanderies and in conjunction with the Grand Encampment Committee on Holy Land Pilgrimages has sent over 1200 ministers to the Holy Land. The program sends ordained Christian Ministers, gratis, on Pilgrimages to the Holy Land, for their spiritual enrichment, enthusiasm, and refreshed dedication. Most ministers who have been chosen feel that this pilgrimage has enriched their ministry and their lives. The election of participation by various Grand Commanderies and Subordinate Commanderies is optional. Masonic membership is not required and the minister may be male or female.</p>
<p>The Order of Knights Templar is no substitute for church activity and interest.<br />Templary claims to be the handmaiden of the Christian Church and encourages its members to be supportive and active in the Church of his choice.</p>
<p>Easter Sunrise Services<br />Easter is a hallowed day in the Templar calendar. Marking as it does the resurrection of our Lord and Savior Jesus Christ, Easter represents the summit of all hopes of our Christian Faith. The Grand Encampment especially encourages every Sir Knight to attend the church of his choice on that great day in celebrating the great victory of Christ over death.<br />The official Easter Sunrise Service sponsored by the Grand Encampment is held each year on the steps of the George Washington National Masonic Memorial in Alexandria, VA. The public is most welcome. The starting time is 7:00 a.m. when the Sir Knights in full Templar uniform march up the hill to the strains of &#8220;Onward Christian Soldiers&#8221;. Services have been added in Kansas City and California</p>
<p>Christmas Observances<br />Every Commandery is encouraged to hold a Public Christmas Observance in December. This is a joyous occasion to celebrate the birth of the Savior of Mankind. This service may be held on any day of the week and need not be at the time of meeting of the Commandery.</p></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

			

</div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        </body>
    </html>